In [1]:
import fastf1
import pandas as pd
import numpy as np

In [2]:
#Obtención de todos los circuitos en csv

circuitos = pd.read_csv("../circuits/circuits_2022.csv")
circuitos

,circuitId,url,circuitName,Location/lat,Location/long,Location/locality,Location/country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia
1,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.1328,-97.64110,Austin,USA
2,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.51060,Sakhir,Bahrain
3,baku,http://en.wikipedia.org/wiki/Baku_City_Circuit,Baku City Circuit,40.3725,49.85330,Baku,Azerbaijan
4,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.5700,2.26111,Montmeló,Spain
5,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary
6,imola,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...,Autodromo Enzo e Dino Ferrari,44.3439,11.71670,Imola,Italy
7,interlagos,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,Autódromo José Carlos Pace,-23.7036,-46.69970,São Paulo,Brazil
8,jeddah,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,Jeddah Corniche Circuit,21.6319,39.10440,Jeddah,Saudi Arabia
9,marina_bay,http://en.wikipedia.org/wiki/Marina_Bay_Street...,Marina Bay Street Circuit,1.2914,103.86400,Marina Bay,Singapore
10,miami,http://en.wikipedia.org/wiki/Miami_Internation...,Miami International Autodrome,25.9581,-80.23890,Miami,USA
11,monaco,http://en.wikipedia.org/wiki/Circuit_de_Monaco,Circuit de Monaco,43.7347,7.42056,Monte-Carlo,Monaco
12,monza,http://en.wikipedia.org/wiki/Autodromo_Naziona...,Autodromo Nazionale di Monza,45.6156,9.28111,Monza,Italy
13,red_bull_ring,http://en.wikipedia.org/wiki/Red_Bull_Ring,Red Bull Ring,47.2197,14.76470,Spielberg,Austria
14,ricard,http://en.wikipedia.org/wiki/Paul_Ricard_Circuit,Circuit Paul Ricard,43.2506,5.79167,Le Castellet,France
15,rodriguez,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...,Autódromo Hermanos Rodríguez,19.4042,-99.09070,Mexico City,Mexico
16,silverstone,http://en.wikipedia.org/wiki/Silverstone_Circuit,Silverstone Circuit,52.0786,-1.01694,Silverstone,UK
17,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
18,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.54100,Suzuka,Japan
19,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5000,-73.52280,Montreal,Canada
20,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.60310,Abu Dhabi,UAE
21,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

In [3]:
#Limpiamos el dataframe de circuitos
print("Circuitos disponibles: ")
circuitos = circuitos.drop(['url', 'Location/lat', 'Location/long', 'Location/locality'], axis = 1)
print(circuitos['Location/country'].to_string(index=False))
nombreCircuito = input("Introduce el pais de un Gran Premio: ")
anyoGp = input("Introduce el año del GP (2017-2022): ")

Circuitos disponibles:
   Australia
         USA
     Bahrain
  Azerbaijan
       Spain
     Hungary
       Italy
      Brazil
Saudi Arabia
   Singapore
         USA
      Monaco
       Italy
     Austria
      France
      Mexico
          UK
     Belgium
       Japan
      Canada
         UAE
 Netherlands
Introduce el pais de un Gran Premio: USA
Introduce el año del GP (2017-2022): 2018

In [4]:
#Creamos un nuevo dataframe con el nombre, la localidad y el nivel de desgaste que pueden tener los neumaticos
circuitos_desgaste = circuitos.drop(['circuitId'], axis=1)
circuitos_desgaste

                       circuitName Location/country
0   Albert Park Grand Prix Circuit        Australia
1          Circuit of the Americas              USA
2    Bahrain International Circuit          Bahrain
3                Baku City Circuit       Azerbaijan
4   Circuit de Barcelona-Catalunya            Spain
5                      Hungaroring          Hungary
6    Autodromo Enzo e Dino Ferrari            Italy
7       Autódromo José Carlos Pace           Brazil
8          Jeddah Corniche Circuit     Saudi Arabia
9        Marina Bay Street Circuit        Singapore
10   Miami International Autodrome              USA
11               Circuit de Monaco           Monaco
12    Autodromo Nazionale di Monza            Italy
13                   Red Bull Ring          Austria
14             Circuit Paul Ricard           France
15    Autódromo Hermanos Rodríguez           Mexico
16             Silverstone Circuit               UK
17    Circuit de Spa-Francorchamps          Belgium
18                  Suzuka Circuit            Japan
19       Circuit Gilles Villeneuve           Canada
20              Yas Marina Circuit              UAE
21          Circuit Park Zandvoort      Netherlands

In [5]:
#Creamos una lista con el nivel de desgaste, fuente PIRELLI F1 2022
desgaste = ['Bajo', 'Alto', 'Alto', 'Bajo', 'Alto', 'Bajo', 'Medio', 'Medio', 'Bajo', 'Bajo', 'Bajo', 'Medio', 'Medio', 'Medio', 'Medio', 'Bajo', 'Medio', 'Alto', 'Medio', 'Bajo', 'Medio', 'Medio']
circuitos_desgaste['desgaste'] = desgaste
circuitos_desgaste
vueltas_circuito = ['58', '56', '57', '51', '66', '70', '63', '71', '50', '61', '57', '78', '53', '71', '53', '71', '52', '44', '53', '70', '58', '72']
circuitos_desgaste['vueltas_totales'] = vueltas_circuito
circuitos_desgaste
km_circuito = ['307.574', '308.405', '308.238', '306.049', '307.104', '306.630', '309.049', '305.879', '308.450', '308.706', '308.326', '260.286', '306.720', '306.452', '309.690', '305.354', '306.198', '308.052', '307.471', '305.270', '305.355', '306.648']
circuitos_desgaste['km_total'] = km_circuito
circuitos_desgaste

#Vamos a sacarlo en un csv
#circuitos_desgaste.to_csv("../circuits/circuitosFinal.csv", index=False)

,circuitName,Location/country,desgaste,vueltas_totales,km_total
0,Albert Park Grand Prix Circuit,Australia,Bajo,58,307.574
1,Circuit of the Americas,USA,Alto,56,308.405
2,Bahrain International Circuit,Bahrain,Alto,57,308.238
3,Baku City Circuit,Azerbaijan,Bajo,51,306.049
4,Circuit de Barcelona-Catalunya,Spain,Alto,66,307.104
5,Hungaroring,Hungary,Bajo,70,306.630
6,Autodromo Enzo e Dino Ferrari,Italy,Medio,63,309.049
7,Autódromo José Carlos Pace,Brazil,Medio,71,305.879
8,Jeddah Corniche Circuit,Saudi Arabia,Bajo,50,308.450
9,Marina Bay Street Circuit,Singapore,Bajo,61,308.706
10,Miami International Autodrome,USA,Bajo,57,308.326
11,Circuit de Monaco,Monaco,Medio,78,260.286
12,Autodromo Nazionale di Monza,Italy,Medio,53,306.720
13,Red Bull Ring,Austria,Medio,71,306.452
14,Circuit Paul Ricard,France,Medio,53,309.690
15,Autódromo Hermanos Rodríguez,Mexico,Bajo,71,305.354
16,Silverstone Circuit,UK,Medio,52,306.198
17,Circuit de Spa-Francorchamps,Belgium,Alto,44,308.052
18,Suzuka Circuit,Japan,Medio,53,307.471
19,Circuit Gilles Villeneuve,Canada,Bajo,70,305.270
20,Yas Marina Circuit,UAE,Medio,58,305.355
21,Circuit Park Zandvoort,Netherlands,Medio,72,306.648

In [6]:
#Vamos entonces a crear un dataframe para un piloto en una determinada 
#carrera, por ejemplo, Fernando Alonso y Monaco 2022
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) #Omitimos los future warning

fastf1.Cache.enable_cache('../cache') # Para cachear los datos y no tener que bajarlos todo el tiempo

#A continuacion, nos guardamos la sesión en una variable de tipo sesion

race = fastf1.get_session(int(anyoGp), "Silverstone", 'R')
race.load(weather=True, telemetry= True)

core           INFO 	Loading data for British Grand Prix - Race [v2.3.0]
api            INFO 	Using cached data for driver_info
api            INFO 	Using cached data for timing_data
api            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
api            INFO 	Using cached data for session_status_data
api            INFO 	Using cached data for track_status_data
core        WARNING 	Driver  2: Lap timing integrity check failed for 1 lap(s)
api            INFO 	No cached data found for car_data. Loading data...
api            INFO 	Fetching car data...
api            INFO 	Parsing car data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for position_data. Loading data...
api            INFO 	Fetching position data...
api            INFO 	Parsing position data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for weather_data. Loading data...
api            INFO 	Fetching weather data...
api            INFO 	Data has been written to cache!
api            INFO 	No cached data found for race_control_messages. Loading data...
api            INFO 	Fetching race control messages...
api            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['5', '44', '7', '77', '3', '27', '31', '14', '20', '11', '2', '18', '10', '35', '33', '8', '55', '9', '16', '28']

In [7]:
print("Pilotos disponibles: ")
race.results['Abbreviation']
print(race.results['Abbreviation'].to_string(index=False))
nombrePiloto = input("Introduce un piloto: ")

Pilotos disponibles:
VER
SAI
NOR
PER
VET
GAS
HAM
STR
OCO
GIO
RAI
RIC
ALO
RUS
LAT
TSU
MAZ
MSC
BOT
LEC
Introduce un piloto: RAI

In [8]:
#Creamos un diccionario para tener los nombres de los pilotos en Ergast y en FastF1 (para poder sacar la posicion por cada vuelta)
#ya que la api tiene la pinta del valor y fastf1 tiene la pinta de la clave (en el diccionario)
pilotosDic = {"HAM":"hamilton", "VER":"max_verstappen", "BOT": "bottas", "NOR":"norris", "PER":"perez", "LEC":"leclerc",
             "RIC":"ricciardo", "SAI":"sainz", "TSU":"tsunoda", "STR":"stroll", "RAI":"raikkonen", "GIO":"giovinazi",
              "OCO":"ocon", "RUS":"russel", "VET":"vettel", "MSC":"mick_schumacher", "GAS":"GASLY", "LAT":"latifi",
             "ALO":"alonso", "MAZ":"mazepin"}
print(pilotosDic["VER"])

max_verstappen

In [9]:
#Nos interesa saber el numero de vueltas que dio Alonso en Barcelona 2022


laps_race_pilot = race.laps.pick_driver(nombrePiloto)
weather = race.weather_data # Cogemos tambien el tiempo que hizo al inicio de la carrera

In [10]:
laps_race_pilot

,Time,DriverNumber,LapTime,LapNumber,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,...,Compound,TyreLife,FreshTyre,Stint,LapStartTime,Team,Driver,TrackStatus,IsAccurate,LapStartDate
777,0 days 00:34:27.876000,7,NaT,1.0,0 days 00:00:04.827000,NaT,NaT,0 days 00:00:40.380000,0 days 00:00:22.386000,NaT,...,MEDIUM,1.0,True,1,0 days 00:32:54.677000,Alfa Romeo Racing,RAI,1,False,2021-05-23 13:02:55.440
778,0 days 00:35:48.734000,7,0 days 00:01:20.858000,2.0,NaT,NaT,0 days 00:00:21.654000,0 days 00:00:37.832000,0 days 00:00:21.372000,0 days 00:34:49.530000,...,MEDIUM,2.0,True,1,0 days 00:34:27.876000,Alfa Romeo Racing,RAI,1,True,2021-05-23 13:04:28.639
779,0 days 00:37:08.580000,7,0 days 00:01:19.846000,3.0,NaT,NaT,0 days 00:00:21.082000,0 days 00:00:37.357000,0 days 00:00:21.407000,0 days 00:36:09.816000,...,MEDIUM,3.0,True,1,0 days 00:35:48.734000,Alfa Romeo Racing,RAI,1,True,2021-05-23 13:05:49.497
780,0 days 00:38:27.682000,7,0 days 00:01:19.102000,4.0,NaT,NaT,0 days 00:00:21.148000,0 days 00:00:36.636000,0 days 00:00:21.318000,0 days 00:37:29.728000,...,MEDIUM,4.0,True,1,0 days 00:37:08.580000,Alfa Romeo Racing,RAI,1,True,2021-05-23 13:07:09.343
781,0 days 00:39:46.595000,7,0 days 00:01:18.913000,5.0,NaT,NaT,0 days 00:00:21.049000,0 days 00:00:36.664000,0 days 00:00:21.200000,0 days 00:38:48.731000,...,MEDIUM,5.0,True,1,0 days 00:38:27.682000,Alfa Romeo Racing,RAI,1,True,2021-05-23 13:08:28.445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,0 days 02:07:28.235000,7,0 days 00:01:17.112000,73.0,NaT,NaT,0 days 00:00:20.349000,0 days 00:00:36.145000,0 days 00:00:20.618000,0 days 02:06:31.472000,...,HARD,30.0,True,2,0 days 02:06:11.123000,Alfa Romeo Racing,RAI,1,True,2021-05-23 14:36:11.886
850,0 days 02:08:45.745000,7,0 days 00:01:17.510000,74.0,NaT,NaT,0 days 00:00:20.161000,0 days 00:00:36.189000,0 days 00:00:21.160000,0 days 02:07:48.396000,...,HARD,31.0,True,2,0 days 02:07:28.235000,Alfa Romeo Racing,RAI,1,True,2021-05-23 14:37:28.998
851,0 days 02:10:02.018000,7,0 days 00:01:16.273000,75.0,NaT,NaT,0 days 00:00:20.251000,0 days 00:00:35.671000,0 days 00:00:20.351000,0 days 02:09:05.996000,...,HARD,32.0,True,2,0 days 02:08:45.745000,Alfa Romeo Racing,RAI,1,True,2021-05-23 14:38:46.508
852,0 days 02:11:18.635000,7,0 days 00:01:16.617000,76.0,NaT,NaT,0 days 00:00:20.221000,0 days 00:00:35.916000,0 days 00:00:20.480000,0 days 02:10:22.239000,...,HARD,33.0,True,2,0 days 02:10:02.018000,Alfa Romeo Racing,RAI,1,True,2021-05-23 14:40:02.781
853,0 days 02:12:35.499000,7,0 days 00:01:16.864000,77.0,NaT,NaT,0 days 00:00:20.286000,0 days 00:00:35.930000,0 days 00:00:20.648000,0 days 02:11:38.921000,...,HARD,34.0,True,2,0 days 02:11:18.635000,Alfa Romeo Racing,RAI,1,True,2021-05-23 14:41:19.398

In [11]:
#Limpiamos el dataset con solo lo que nos interesa

laps_race_pilot = laps_race_pilot.filter(['Time', 'LapTime', 'LapNumber', 'Compound', 'TyreLife', 'FreshTyre', 'TrackStatus', 'Stint', 'PitInTime'])
laps_race_pilot

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
777,0 days 00:34:27.876000,NaT,1.0,MEDIUM,1.0,True,1,1,NaT
778,0 days 00:35:48.734000,0 days 00:01:20.858000,2.0,MEDIUM,2.0,True,1,1,NaT
779,0 days 00:37:08.580000,0 days 00:01:19.846000,3.0,MEDIUM,3.0,True,1,1,NaT
780,0 days 00:38:27.682000,0 days 00:01:19.102000,4.0,MEDIUM,4.0,True,1,1,NaT
781,0 days 00:39:46.595000,0 days 00:01:18.913000,5.0,MEDIUM,5.0,True,1,1,NaT
...,...,...,...,...,...,...,...,...,...
849,0 days 02:07:28.235000,0 days 00:01:17.112000,73.0,HARD,30.0,True,1,2,NaT
850,0 days 02:08:45.745000,0 days 00:01:17.510000,74.0,HARD,31.0,True,1,2,NaT
851,0 days 02:10:02.018000,0 days 00:01:16.273000,75.0,HARD,32.0,True,1,2,NaT
852,0 days 02:11:18.635000,0 days 00:01:16.617000,76.0,HARD,33.0,True,1,2,NaT
853,0 days 02:12:35.499000,0 days 00:01:16.864000,77.0,HARD,34.0,True,1,2,NaT

In [12]:
#De aqui solo queremos la temperatura de la pista, la temperatura ambiente y si llovía o no 
#Importante, hacemos match de la columna time, o ponemos simplemente el tiempo que hacia en la salida????
weather = weather.filter(['Time', 'AirTemp', 'Rainfall', 'TrackTemp'])
weather

                      Time  AirTemp  Rainfall  TrackTemp
0   0 days 00:00:25.218000     20.7     False       36.9
1   0 days 00:01:25.220000     20.7     False       36.8
2   0 days 00:02:25.225000     20.6     False       36.8
3   0 days 00:03:25.234000     20.5     False       36.1
4   0 days 00:04:25.234000     20.5     False       36.4
..                     ...      ...       ...        ...
130 0 days 02:10:25.668000     20.9     False       33.4
131 0 days 02:11:25.671000     20.9     False       34.0
132 0 days 02:12:25.670000     20.9     False       34.4
133 0 days 02:13:25.683000     21.0     False       34.4
134 0 days 02:14:25.669000     21.1     False       34.3

[135 rows x 4 columns]

In [13]:
weather['Time'] = weather['Time'].astype(str)
weather

                       Time  AirTemp  Rainfall  TrackTemp
0    0 days 00:00:25.218000     20.7     False       36.9
1    0 days 00:01:25.220000     20.7     False       36.8
2    0 days 00:02:25.225000     20.6     False       36.8
3    0 days 00:03:25.234000     20.5     False       36.1
4    0 days 00:04:25.234000     20.5     False       36.4
..                      ...      ...       ...        ...
130  0 days 02:10:25.668000     20.9     False       33.4
131  0 days 02:11:25.671000     20.9     False       34.0
132  0 days 02:12:25.670000     20.9     False       34.4
133  0 days 02:13:25.683000     21.0     False       34.4
134  0 days 02:14:25.669000     21.1     False       34.3

[135 rows x 4 columns]

In [14]:
#Modificamos la columna de Time, para que solo nos muestre la hora y el minuto, esto es para
#que casen las keys al hacer el join y podamos tener info de la temperatura minuto a minuto en las vueltas
weather['Time'] = weather["Time"].apply(lambda x: x[7:12])
weather

      Time  AirTemp  Rainfall  TrackTemp
0    00:00     20.7     False       36.9
1    00:01     20.7     False       36.8
2    00:02     20.6     False       36.8
3    00:03     20.5     False       36.1
4    00:04     20.5     False       36.4
..     ...      ...       ...        ...
130  02:10     20.9     False       33.4
131  02:11     20.9     False       34.0
132  02:12     20.9     False       34.4
133  02:13     21.0     False       34.4
134  02:14     21.1     False       34.3

[135 rows x 4 columns]

In [15]:
#Hacemos lo mismo para la columa Time de las vueltas
laps_race_pilot['Time'] = laps_race_pilot['Time'].astype(str)
laps_race_pilot['Time'] = laps_race_pilot["Time"].apply(lambda x: x[7:12])
laps_race_pilot

,Time,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime
777,00:34,NaT,1.0,MEDIUM,1.0,True,1,1,NaT
778,00:35,0 days 00:01:20.858000,2.0,MEDIUM,2.0,True,1,1,NaT
779,00:37,0 days 00:01:19.846000,3.0,MEDIUM,3.0,True,1,1,NaT
780,00:38,0 days 00:01:19.102000,4.0,MEDIUM,4.0,True,1,1,NaT
781,00:39,0 days 00:01:18.913000,5.0,MEDIUM,5.0,True,1,1,NaT
...,...,...,...,...,...,...,...,...,...
849,02:07,0 days 00:01:17.112000,73.0,HARD,30.0,True,1,2,NaT
850,02:08,0 days 00:01:17.510000,74.0,HARD,31.0,True,1,2,NaT
851,02:10,0 days 00:01:16.273000,75.0,HARD,32.0,True,1,2,NaT
852,02:11,0 days 00:01:16.617000,76.0,HARD,33.0,True,1,2,NaT
853,02:12,0 days 00:01:16.864000,77.0,HARD,34.0,True,1,2,NaT

In [16]:
#Hacemos el join para meter en el mismo dataset, la imformacion en cada vuelta de la temperatura ambiente y de la pista

laps_race_pilot = laps_race_pilot.set_index('Time').join(weather.set_index('Time'))

In [17]:
laps_race_pilot['LapTime'] = laps_race_pilot['LapTime'].astype(str)
laps_race_pilot["LapTime"] = laps_race_pilot["LapTime"].apply(lambda x: x[10:19] if x!="NaT" else '0')
laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime,AirTemp,Rainfall,TrackTemp
Time,,,,,,,,,,,
00:34,0,1.0,MEDIUM,1.0,True,1,1,NaT,20.8,False,43.4
00:35,01:20.858,2.0,MEDIUM,2.0,True,1,1,NaT,20.8,False,42.9
00:37,01:19.846,3.0,MEDIUM,3.0,True,1,1,NaT,21.0,False,42.7
00:38,01:19.102,4.0,MEDIUM,4.0,True,1,1,NaT,21.2,False,42.7
00:39,01:18.913,5.0,MEDIUM,5.0,True,1,1,NaT,21.2,False,42.7
...,...,...,...,...,...,...,...,...,...,...,...
02:07,01:17.112,73.0,HARD,30.0,True,1,2,NaT,20.8,False,33.6
02:08,01:17.510,74.0,HARD,31.0,True,1,2,NaT,20.9,False,33.6
02:10,01:16.273,75.0,HARD,32.0,True,1,2,NaT,20.9,False,33.4
02:11,01:16.617,76.0,HARD,33.0,True,1,2,NaT,20.9,False,34.0
02:12,01:16.864,77.0,HARD,34.0,True,1,2,NaT,20.9,False,34.4

In [20]:
#Para la posicion de salida
posicion_salida = race.get_driver(nombrePiloto)['GridPosition']
posicion_salida

14.0

In [21]:
#Necesitamos ahora los outputs, que es la siguiente vuelta a parar
vueltas_parada = laps_race_pilot[laps_race_pilot['PitInTime'].notna()]
vueltas_parada

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,PitInTime,AirTemp,Rainfall,TrackTemp
Time,,,,,,,,,,,
01:29,01:33.514,43.0,MEDIUM,43.0,True,1,1,0 days 01:28:41.532000,20.4,False,34.4

In [22]:
nVuelta_parada = vueltas_parada['LapNumber']
nParadas = 0
paradas = []
for i in nVuelta_parada:
    paradas.append(i)
    nParadas = nParadas + 1


print("El numero de paradas ha sido: ", nParadas)

print("Las paradas han sido en las vueltas: ", paradas)

El numero de paradas ha sido:  1
Las paradas han sido en las vueltas:  [43.0]

In [23]:
#Eliminanos la variable de la hora a la que entra a box porque ya no es necesaria
laps_race_pilot.drop(['PitInTime'], axis = 1, inplace=True)

In [24]:
laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp
Time,,,,,,,,,,
00:34,0,1.0,MEDIUM,1.0,True,1,1,20.8,False,43.4
00:35,01:20.858,2.0,MEDIUM,2.0,True,1,1,20.8,False,42.9
00:37,01:19.846,3.0,MEDIUM,3.0,True,1,1,21.0,False,42.7
00:38,01:19.102,4.0,MEDIUM,4.0,True,1,1,21.2,False,42.7
00:39,01:18.913,5.0,MEDIUM,5.0,True,1,1,21.2,False,42.7
...,...,...,...,...,...,...,...,...,...,...
02:07,01:17.112,73.0,HARD,30.0,True,1,2,20.8,False,33.6
02:08,01:17.510,74.0,HARD,31.0,True,1,2,20.9,False,33.6
02:10,01:16.273,75.0,HARD,32.0,True,1,2,20.9,False,33.4
02:11,01:16.617,76.0,HARD,33.0,True,1,2,20.9,False,34.0
02:12,01:16.864,77.0,HARD,34.0,True,1,2,20.9,False,34.4

In [25]:
#Ahora hay que añadir al dataframe las variables
# - Posicion de salida
# - Siguiente parada (dependera de la vuelta en la que se encuentre)
# - Todas variables del circuito en el que nos encontramos, en este caso Barcelona
# - No creo que haga falta el piloto, las estrategias son independientes del piloto (o eso voy a pensar... que no será asi)
circuito_actual = circuitos_desgaste.loc[circuitos_desgaste['Location/country'].str.lower() == nombreCircuito.lower()]
circuito_actual = circuito_actual.filter(['circuitName', 'desgaste', 'vueltas_totales', 'km_total'])
circuito_actual

          circuitName desgaste vueltas_totales km_total
11  Circuit de Monaco    Medio              78  260.286

In [26]:
#Ahora hay que introducir la columna posicionActual que es la posicion que ocupa un piloto por cada paso por meta3#
#para cada una de las vueltas que un piloto dio en un determinado gran premio
#Para elllo hay que construir la llamada a la API de Ergast, que tiene esta pinta:
# http://ergast.com/api/f1/2022/1/drivers/alonso/laps/19
#Necesitamos el numero de ronda, el año del gp, el numero de vuelta y el nombre del piloto
import requests
import json
import time
roundNumber = race.event.RoundNumber
pilotoNombre=pilotosDic[nombrePiloto]
posicionesList = []


#El numero de vuelta es una iteracion a cada fila dell dataframe de vueltas del piloto

for index, row in laps_race_pilot.iterrows():
    nVuelta = int(row['LapNumber'])
    #Construimos la URL de la api
    api = "http://ergast.com/api/f1/" + anyoGp + "/" + str(roundNumber) + "/drivers/" +pilotoNombre+ "/laps/" + str(nVuelta) +".json"
    response = requests.get(api)
    response_dict = json.loads(response.text)
    posicion = response_dict['MRData']['RaceTable']['Races'][0]['Laps'][0]['Timings'][0]['position']
    posicionesList.append(posicion)
    time.sleep(0.5)

laps_race_pilot['posicionActual'] = posicionesList

laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp,posicionActual
Time,,,,,,,,,,,
00:34,0,1.0,MEDIUM,1.0,True,1,1,20.8,False,43.4,12
00:35,01:20.858,2.0,MEDIUM,2.0,True,1,1,20.8,False,42.9,12
00:37,01:19.846,3.0,MEDIUM,3.0,True,1,1,21.0,False,42.7,12
00:38,01:19.102,4.0,MEDIUM,4.0,True,1,1,21.2,False,42.7,12
00:39,01:18.913,5.0,MEDIUM,5.0,True,1,1,21.2,False,42.7,12
...,...,...,...,...,...,...,...,...,...,...,...
02:07,01:17.112,73.0,HARD,30.0,True,1,2,20.8,False,33.6,11
02:08,01:17.510,74.0,HARD,31.0,True,1,2,20.9,False,33.6,11
02:10,01:16.273,75.0,HARD,32.0,True,1,2,20.9,False,33.4,11
02:11,01:16.617,76.0,HARD,33.0,True,1,2,20.9,False,34.0,11
02:12,01:16.864,77.0,HARD,34.0,True,1,2,20.9,False,34.4,11

In [27]:
#Hay que hacer una funcion para sacar el numero de vueltas (nVueltas) que se ha dado en ese circuito, y repetir nVueltas para crear una lista con el valor
nVueltasCircuito=laps_race_pilot.tail(1).LapNumber.values[0]
circuitName = circuito_actual.circuitName.values[0]
desgaste = circuito_actual.desgaste.values[0]
km_total = circuito_actual.km_total.values[0]
vueltas_totales = circuito_actual.vueltas_totales.values[0]
desgaste

'Medio'

In [28]:
#La salida se la tenemos que meter a todas las filas del dataframe
laps_race_pilot['posicionSalida'] = posicion_salida
laps_race_pilot['circuitName'] = circuitName
laps_race_pilot['desgasteCircuito'] = desgaste
laps_race_pilot['vueltasCircuito'] = vueltas_totales
laps_race_pilot['kmCircuitoTotales'] = km_total

laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp,posicionActual,posicionSalida,circuitName,desgasteCircuito,vueltasCircuito,kmCircuitoTotales
Time,,,,,,,,,,,,,,,,
00:34,0,1.0,MEDIUM,1.0,True,1,1,20.8,False,43.4,12,14.0,Circuit de Monaco,Medio,78,260.286
00:35,01:20.858,2.0,MEDIUM,2.0,True,1,1,20.8,False,42.9,12,14.0,Circuit de Monaco,Medio,78,260.286
00:37,01:19.846,3.0,MEDIUM,3.0,True,1,1,21.0,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286
00:38,01:19.102,4.0,MEDIUM,4.0,True,1,1,21.2,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286
00:39,01:18.913,5.0,MEDIUM,5.0,True,1,1,21.2,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02:07,01:17.112,73.0,HARD,30.0,True,1,2,20.8,False,33.6,11,14.0,Circuit de Monaco,Medio,78,260.286
02:08,01:17.510,74.0,HARD,31.0,True,1,2,20.9,False,33.6,11,14.0,Circuit de Monaco,Medio,78,260.286
02:10,01:16.273,75.0,HARD,32.0,True,1,2,20.9,False,33.4,11,14.0,Circuit de Monaco,Medio,78,260.286
02:11,01:16.617,76.0,HARD,33.0,True,1,2,20.9,False,34.0,11,14.0,Circuit de Monaco,Medio,78,260.286
02:12,01:16.864,77.0,HARD,34.0,True,1,2,20.9,False,34.4,11,14.0,Circuit de Monaco,Medio,78,260.286

In [29]:
#Ahora hay que meter las paradas, habria que añadir una columna con la siguiente parada, dependiendo de la vuelta en la que se encuentre
paradas_list = paradas
paradas_list

[43.0]

In [30]:
#En cada intervalo de ventana de parada, se añade la siguiente parada de acuerdo con el numero de vuelta en el que vamos
#Es decir, del intervalo 1-9, el valor de la siguiente parada es 10, del 10-30, el valor es 31, y así
#NOTA: Cuando se hace la ultima parada, ¿cual debe ser el valor del la siguiente parada? ¿El numero de fin de vuelta?


inserciones = 1
paradasList_insertar = []
for i in paradas_list:
        while (inserciones <= i):
            paradasList_insertar.append(i)
            inserciones = inserciones + 1
            if (inserciones == paradas_list[nParadas-1]):
                while inserciones <= nVueltasCircuito:
                    paradasList_insertar.append(nVueltasCircuito)
                    inserciones = inserciones + 1
paradasList_insertar
len(paradasList_insertar)

77

In [31]:
#Insertamos la nueva columna
laps_race_pilot['nextPit'] = paradasList_insertar
laps_race_pilot

,LapTime,LapNumber,Compound,TyreLife,FreshTyre,TrackStatus,Stint,AirTemp,Rainfall,TrackTemp,posicionActual,posicionSalida,circuitName,desgasteCircuito,vueltasCircuito,kmCircuitoTotales,nextPit
Time,,,,,,,,,,,,,,,,,
00:34,0,1.0,MEDIUM,1.0,True,1,1,20.8,False,43.4,12,14.0,Circuit de Monaco,Medio,78,260.286,43.0
00:35,01:20.858,2.0,MEDIUM,2.0,True,1,1,20.8,False,42.9,12,14.0,Circuit de Monaco,Medio,78,260.286,43.0
00:37,01:19.846,3.0,MEDIUM,3.0,True,1,1,21.0,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286,43.0
00:38,01:19.102,4.0,MEDIUM,4.0,True,1,1,21.2,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286,43.0
00:39,01:18.913,5.0,MEDIUM,5.0,True,1,1,21.2,False,42.7,12,14.0,Circuit de Monaco,Medio,78,260.286,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02:07,01:17.112,73.0,HARD,30.0,True,1,2,20.8,False,33.6,11,14.0,Circuit de Monaco,Medio,78,260.286,77.0
02:08,01:17.510,74.0,HARD,31.0,True,1,2,20.9,False,33.6,11,14.0,Circuit de Monaco,Medio,78,260.286,77.0
02:10,01:16.273,75.0,HARD,32.0,True,1,2,20.9,False,33.4,11,14.0,Circuit de Monaco,Medio,78,260.286,77.0
02:11,01:16.617,76.0,HARD,33.0,True,1,2,20.9,False,34.0,11,14.0,Circuit de Monaco,Medio,78,260.286,77.0
02:12,01:16.864,77.0,HARD,34.0,True,1,2,20.9,False,34.4,11,14.0,Circuit de Monaco,Medio,78,260.286,77.0

En principio, ahora tenemos el dataset para:

- Un piloto
- En un gran premio
- Durante todas sus vueltas

In [32]:
laps_race_pilot.to_csv("../datasets/laps_" + nombreCircuito + "_" + nombrePiloto  +"_" +anyoGp+ ".csv", index=False)